<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="input_table">
    <tr class="input_td">
      <div class="field">
        <td class="input_td">
          <%= f.label :name %>
        </td>
        <td class="input_td">
          <%= f.text_field :name %>
        </td>
      </div>
    </tr>
    <tr class="input_td">
      <div class="field">
        <td class="input_td">
          <%= f.label :email %>
        </td>
        <td class="input_td">
          <%= f.text_field :email %>
        </td>
      </div>
    </tr>
    <tr class="input_td">
      <div class="field">
        <td class="input_td">
          <%= f.label :password %>
        </td>
        <td class="input_td">
          <%= f.password_field :password %>
        </td>
      </div>
    </tr>
    <tr class="input_td">
      <div class="field">
        <td class="input_td">
          <%= f.label :password_confirmation, "Confirmation" %>
        </td>
        <td class="input_td">
          <%= f.password_field :password_confirmation %>
        </td>
      </div>
    </tr>
  </table>
    <div class="actions">
      <%= f.submit class:'search_button'%>
    </div>
  
<% end %>
