<div class="rounded block-1 box-shadow"> 
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="edit-form">
  <div class="field">
    <strong><%= f.label :name %></strong>
    <%= f.text_field :name, :class => "rounded"%>
  </div>
  <div class="field">
    <strong><%= f.label :email %></strong>
    <%= f.text_field :email, :class => "rounded"%>
  </div>
  <div class="field">
    <strong><%= f.label :password %></strong>
    <%= f.password_field :password, :class => "rounded"%>
  </div>
  <div class="field">
    <strong><%= f.label :password_confirmation, "Confirmation" %></strong>
    <%= f.password_field :password_confirmation, :class => "rounded"%>
  </div>
  </div>
  <div class="actions indent">
    <span><%= f.submit class:'rounded search_button'%></span>
	<span><%= link_to 'Cancel', "/signinpage", class:"rounded search_button" %></span>
  </div>
  
<% end %>
</div>
