<script>
  $(function() {
      $( "#datepicker" ).datepicker({
        changeMonth: true,
        changeYear: true,
      }).datepicker("setDate", "0");
    });
  $.extend($.datepicker,{_checkOffset:function(inst,offset,isFixed){return offset}});
</script>
<div class="rounded block-1 box-shadow"> 
  <div class="edit-form">
      <%= form_for @run do |f| %>
      <div class="field">  
        <strong><%= f.label :Name %></strong>
        <span><%= text_field "run", "name", "size" => 25, "required" => "required", :class => "large rounded block" %></span>
        <span class="error-message" id="name">Required</span>
      </div>

      <div class="field"> 
        <strong><%= f.label :Date %></strong>
        <span><input id="datepicker" type="text" name="run[date]" required="required" class="large rounded block"></span>
      </div>

      <div class="field">
        <strong><%= f.label :Time %></strong><br/>
        <span class="input-label"><%= f.label :hours %></span>
        <span><%= text_field "run", "hr", "size" => 4, "required" => "required", "type" => "number", :class => "rounded" %></span>

        <span class="input-label"><%= f.label :minutes %></span>
        <span><%= text_field "run", "min", "size" => 4, "required" => "required", :class => "rounded" %></span>

        <span class="input-label"><%= f.label :seconds %></span>
        <span class="input-field"><%= text_field "run", "sec", "size" => 4, "required" => "required", :class => "rounded" %></span>
        <span class="error-message" id="time">Must be a number</span>
      </div>

      <div class="field">
        <strong><%= f.label :Distance %></strong>
        <% if !@distance.nil? %>
          <span class="input-field"><%= text_field_tag "distance", @distance, "size" => 10, "required" => "required", :class => "rounded" %></span><span>  mi.</span>
        <% else %>
          <span class="input-field"><%= text_field_tag "distance", nil, "size" => 10, "required" => "required", :class => "rounded"%></span><span>  mi.</span>
        <% end %>
        <span class="error-message" id="distance_error">Must be a number</span>
        <span class="error-message" id="distance_zero_error">Cannot be zero</span>
      </div>

      <div class="field">
        <strong><%= f.label :'Weather Specs'%></strong><br/>
        <span class="input-label"><%= f.label :temperature %></span>
        <% if !@run.temp.nil? && @run.temp != "-1" %>
          <span class="input-field"><%= text_field "run", "temp", "size" => 4, :class => "rounded"%> &degF</span><br/>
        <% else %>
          <span class="input-field"><%= text_field "run", "temp", "size" => 4, "value" => "", :class => "rounded" %> &degF</span><br/>
        <% end %>
        <span class="error-message" id="temp">Must be a number</span>

        <span class="input-label"><%= f.label :humidity %></span>
        <% if !@run.humidity.nil? && @run.humidity != "-1" %>
          <span class="input-field"><%= text_field "run", "humidity", "size" => 4, :class => "rounded" %></span><br/>
        <% else %>
          <span class="input-field"><%= text_field "run", "humidity", "size" => 4, "value" => "", :class => "rounded" %></span><br/>
        <% end %>
        <span class="error-message" id="humidity">Must be a number</span>

		    <span class="input-label"><%= f.label :zipcode %></span>
        <span><input id="zipcode" class="rounded" type="number"/></span>
        <span><button id="remove" type="button" class="rounded search_button">Remove Point</button></span>
        <div id="map-canvas" class="rounded map_div"></div>
        
		
        <%= hidden_field_tag(:newRoute) %>
        <%= hidden_field_tag(:elevationLoss) %>
        <%= hidden_field_tag(:elevationGain) %>
      </div>
    </div>
    <p>
      <div style="text-align: center;"><%= f.submit id: 'submit_form', class:'rounded search_button', :onclick => "return checkInput();"%></div>
    </p>
    <% end %>
</div>


