<script>
  $(function() {
      $( "#datepicker" ).datepicker({
        changeMonth: true,
        changeYear: true,
      }).datepicker("setDate", "0");
    });
  $.extend($.datepicker,{_checkOffset:function(inst,offset,isFixed){return offset}});
</script>
<div class="block-1 box-shadow"> 
      <%= form_for @run do |f| %>
      <div class="run-spec-section">  
        <strong><%= f.label :Name %>:</strong>
        <span class="input-field"><%= text_field "run", "name", "size" => 25, "required" => "required" %></span>
      </div>
      <div class="run-spec-section"> 
        <strong><%= f.label :Date %>:</strong>
        <span class="input-field"><input id="datepicker" type="text" name="run[date]" required="required"></span>
      </div>
      <div class="run-spec-section">
        <strong><%= f.label :Time %>:</strong><br/>
        <span class="input-label"><%= f.label :hours %></span>
        <span class="input-field"><%= text_field "run", "hr", "size" => 4, "required" => "required", "type" => "number"%></span>
        <span class="input-label"><%= f.label :minutes %></span>
        <span class="input-field"><%= text_field "run", "min", "size" => 4, "required" => "required"%></span>
        <span class="input-label"><%= f.label :seconds %></span>
        <span class="input-field"><%= text_field "run", "sec", "size" => 4, "required" => "required" %></span>
      </div>
      <div class="run-spec-section">
        <strong><%= f.label :Distance %>:</strong>
        <span class="input-field"><%= text_field_tag "distance", nil, "size" => 10, "required" => "required" %></span><span>mi.</span>
      </div>
      <div class="run-spec-section">
        <strong><%= f.label :'Weather Specs'%>:</strong><br/>
        <span class="input-label"><%= f.label :temperature %></span>
        <span class="input-field"><%= text_field "run", "temp", "size" => 4 %></span><br/>
        <span class="input-label"><%= f.label :humidity %></span>
        <span class="input-field"><%= text_field "run", "humidity", "size" => 6 %></span>
        <div id="map-canvas"></div>
        <span class="input-label"><%= f.label :zipcode %></span>
        <button id="remove" type="button">Remove Last Point</button>
        <input id="zipcode" class="input_field" type="number"/>
        <%= hidden_field_tag(:newRoute) %>
      </div>

    <p>
      <%= f.submit class:'search_button', :onclick => "getMapData();"%>
    </p>
    <% end %>
</div>
