<% @prepage = "Edit" %>
<% @page = "a Run" %>
<% @highlight = "Run" %>

<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<%= javascript_include_tag "map.js" %>

<div id="route" data-route="<%= @points %>" data-numpoints="<%= @run.route.numPoints %>"></div>
<%= render 'form' %>

<%= link_to 'Back', runs_path %>

<script>
  initialize();
</script>