<%= form_for @goal do |f| %>
  <div class="run-spec-section"> 
    <strong><%= f.label :'Goal Name:' %></strong>
    <span class="input-field"><%= f.text_field :GoalName %></span>
  </div>
 
  <div class="run-spec-section"> 
    <strong><%= f.label :'Goal Time:' %></strong><br/>
    <span class="input-label"><%= f.label :'Hr:' %></span>
	<span class="input-field"><%= f.text_field :gtHour %></span> 
	<span class="input-label"><%= f.label :'Min:' %></span>
	<span class="input-field"><%= f.text_field :gtMin %></span>
	<span class="input-label"><%= f.label :'Sec:' %></span>
	<span class="input-field"><%= f.text_field :gtSec %></span>
  </div>

  <div class="run-spec-section"> 
    <strong><%= f.label :Route %></strong>
    <span class="input-field"><%= f.text_field :Route %></span>
  </div>
  
  <div class="run-spec-section"> 
    <strong><%= f.label :distance %></strong>
    <span class="input-field"><%= f.text_field :distance %></span>
  </div>
 
  <p>
    <%= f.submit class:'search_button'%>
  </p>
<% end %>