<h1>Listing Goals</h1>
 
<table>
  <tr>
    <th>GoalName</th>
    <th>GoalTime</th>
    <th>Route</th>
    <th>Distance</th>
    <th>View Goal</th>
  </tr>
 
  <% @goals.each do |goal| %>
    <tr>
      <td><%= goal.GoalName %></td>
      <td><%= goal.gtHour %> <%= goal.gtMin %> <%= goal.gtSec %></td>
      <td><%= goal.Route %></td>
      <td><%= goal.distance %></td>
      <td><%= link_to 'View', goal_path(goal)%></td>
    </tr>
  <% end %>
</table>