
<%= form_for :goals, url: goals_path do |f| %>
  <p>
    <%= f.label :GoalName %><br>
    <%= f.text_field :GoalName %>
  </p>
 
  <p>
    <%= f.label :GoalTime %><br>
    Hr:<%= f.text_field :gtHour %> Min:<%= f.text_field :gtMin %> Sec:<%= f.text_field :gtSec %>
  </p>

  <p>
    <%= f.label :Route %><br>
    <%= f.text_field :Route %>
  </p>
  
  <p>
    <%= f.label :distance %><br>
    <%= f.text_field :distance %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>