<head>
<!--[if lt IE 9]>
<script src="js/html5.js"></script>
<link rel="stylesheet" type="text/css" media="screen" href="css/ie.css">
<![endif]-->
<!--[if lt IE 9]><script language="javascript" type="text/javascript" src="excanvas.js"></script>
<![endif]-->
<!--<script language="javascript" type="text/javascript" src="/app/assets/javascripts/dist/jquery.jqplot.min.js">
</script>-->
<%= javascript_include_tag "dist/jquery.jqplot.min.js" %>
<%= javascript_include_tag "graph.js" %>
<!--<link rel="stylesheet" type="text/css" href="/app/assets/javascripts/dist/jquery.jqplot.css" />-->
<%= stylesheet_link_tag "jquery.jqplot.css"%>
</head>
<body>
<div class="main">
<div class="bg-img"></div>
  <!--==============================header=================================-->
<header>
	<h1><a href="index.html">Added<strong>Goal:</strong></a></h1>
	<nav>
      <div class="social-icons"> <a href="#" class="icon-2"></a> <a href="#" class="icon-1"></a> </div>
      <ul class="menu">
        <li><a hreaf="/welcome">Home</a></li>
        <li><a href="/runs">My Runs</li>
        <li><a href="/goals">My Goals</a></li>
        <li><a href="myProfile.html">My Profile</a></li>
      </ul>
    </nav>
</header>
<!--==============================content================================-->
<section id="content">
    <div class="container_12">
	<div class="grid_12 top-1">
        <div class="block-1 box-shadow">
			<div class="run-spec-section"> 
				<strong><%= label_tag :'Here is the saved information about your new goal'%>:</strong>				
				<p>
				  <strong>Goal Name:</strong>
				  <%= @goal.GoalName %>
				</p>
				 
				<p>
				  <strong>Goal Time:</strong>
				  Hr: <%= @goal.gtHour %> Min: <%= @goal.gtMin %> Sec: <%= @goal.gtSec %>
				</p>

				<p>
				  <strong>Route:</strong>
				  <%= @goal.Route %>
				</p>

				<p>
				  <strong>Distance:</strong>
				  <%= @goal.distance %>
				</p>

				<p>
				  <strong>Predictied Time:</strong>
				  hr:<%= @predictval[0] %> m:<%= @predictval[1] %> s:<%= @predictval[2] %> TotSec:<%= @predictval[3] %>
				</p>
				<div id="goalinfo" data-gthour="<%= @goal.gtHour %>" data-gtmin="<%= @goal.gtMin %>" data-gtsec="<%= @goal.gtSec %>" data-predtime="<%= @predictval[3] %>"></div>
				<div id="chartdiv" style="height:400px;width:300px; "></div>
			</div>
		</div>
	</div>
	</div>
</section>	
<!--==============================footer=================================-->
  <footer>
    <p>2014 Extraparun</p> 
	<p>Created By: Blohm, Chen, Jones, Torres</p>
    <p>Website Template by <a target="_blank" href="http://www.templatemonster.com/" class="link">TemplateMonster.com</a></p>
  </footer>
</div>
</body>