<!DOCTYPE html>
<html>
<head>
  <title>Extraparun</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link rel="icon" href="/favicon.ico" type="image/ico" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/ico" />
  <%= csrf_meta_tags %>
</head>
<body>
<!--<%= render 'layouts/header' %>
  <% if current_user %>
    Logged in as <%= current_user.email %>.
  <% else %>
    Not signed in
  <% end %>
<%= yield %>-->

</body>
</html>
