<!DOCTYPE html>
<html>
<head>
  <title>Extraparun</title>
 
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= favicon_link_tag %>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbp2q3_GNy2kx1s6L4xofOvQXnp9vG9II&sensor=false">
    </script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  <script>

    $(function(){
      $('#slider-id').liquidSlider();
    });
  </script>
  <script>

    $(function() {
      $( "#datepicker" ).datepicker({
        changeMonth: true,
        changeYear: true,
      });
    });
  </script>
  <%= yield :head %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="main">
  <div class="bg-img"></div>
  <% if current_user %>
    <%= render 'layouts/header' %>
  <% end %>
  <%= yield %>
  <%= render 'layouts/footer' %>
  <% if current_user %>
    <div style="text-align: center; ">Logged in as <%= current_user.email %>.</div>
  <% else %>
    <div style="text-align: center; ">Not signed in</div>
  <% end %>


</body>
</html>
